<!DOCTYPE html>
<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="565685121300-e5j92tkm2alr2c96b8qe4be0obpd0usq.apps.googleusercontent.com">
    <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <!-- bootstrap css & js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        $("#form").submit(function (e) {
            var form = $(this);
            $.ajax({
                type: "POST",
                url: "http://localhost:8888/public/",
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    console.log("EROARE!!!!");
                },
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            $('#email').val(profile.getEmail());
            $('#form').submit();
        }


    </script>

</head>

<body id="body">

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Autentificare</div>
    <div class="card-body">
        <h5 class="card-title">Autentificare folosind credentialele @e-uvt.ro (username, parola)</h5>
        <p class="card-text">Introduceti email-ul institutional si parola...</p>
    </div>
</div>
<!--  Comentezi div class="g-signin2" si decomentezi hidden=true la form ca sa scoti oauth
<div class="g-signin2" data-onsuccess="onSignIn" id="googlesignin"></div> -->
<form method="POST" id="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
               placeholder="Enter email" style="width:25%;">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
               style="width:25%;">
    </div>
    <!-- <div class="form-check">
         <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
    </div>
    <button type="submit" class="btn btn-primary">Proceed</button>
</form>
</body>